body{
  max-width: 100%; 
  max-height:100%; 
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


.card{
position: relative;
margin:30px 30px;
border:2px solid black;
}
.articles{
  display: grid;
  margin:30px 30px ;
  height:100%;
  grid-template-columns: repeat(3,2fr);
  grid-template-rows: repeat(4, 500px);
  overflow-y: hidden; /* prevents vertical scrolling */
}
.card-img-top{
  height: 200px;
  width:285px;
}
.btn btn-primary{
  text-decoration: none;
}

body{
  background-color:white;
}

.navbar navbar-expand-lg bg-body-tertiary{
  background-color: black;
  color:white;
}

.top{
  position: relative;
  top:20px;
  right:-320px;
}

.color{
  color:orange;
}
.color1{
  color:rgb(216, 209, 209);
}
.color2{
  color:darkgreen;
}

@media screen and (max-width:900px) and (min-width:600px){
  .articles{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-template-rows: repeat(5, 400px); 
  }
}
.spin img{
 position: relative;
  height:50px;
  width:50px;
  left:500px;
}



